div.seatChart-container {
    /*min-width: 700px;*/  
}

div.seatChart-cell, button.seatChart-cell { 
  height: 16px;
  width: 24px;
  margin: 3px;
  float: left;
  text-align: center;
  outline: none;
  font-size: 13px;
  line-height: 16px;
  color: blue;
}

div.seatChart-seat, button.seatChart-seat {
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: default;
  text-align: center;
}

button.seatChart-seat:focus {
  border: none;
}

div.seatChart-spacer {

}

div.seatChart-row {
  height: 50px;
}

div.seatChart-row:after {
  clear: both;
}

button.seatChart-seat.selected {
  background-color: aqua;
}

button.seatChart-seat.focused {
  background-color: #6db131;
}

button.seatChart-seat.available {
  background-color: green;
}

button.seatChart-seat.unavailable {
  background-color: red;
  cursor: not-allowed;
}
